<div class="container">
  <div class="row">

    <!--Left Side-->
    <div class="col" id = "main">
      <div class="row">
        <div id = "head" class="col-lg-5 align-items-center justify-content-center d-flex">
          <img src = "./assets/Apple-logo.jpg" alt = "logo" id = "logo">
          <p>
            Frederick Tan
            Email
          </p>
        </div>
      </div>
      
      <div id = "button" class="row justify-content-center align-items-center d-flex">
          <button>new message</button>
      </div>

      <div id = "list" class="row justify-content-left align-items-left d-flex">
          <ul>
              <li><i class = "fa fa-inbox"></i> inbox</li>
              <li><i class = "fa fa-angle-right"></i> draft</li>
              <li><i class = "fa fa-play"></i>  sent</li>
              <li><i class = "fa fa-flag"></i>  spam</li>
              <li><i class = "fa fa-close"></i> trash</li>
            </ul>
      </div>
    </div>

    <!--Right Side-->
    <div class="col-lg-7">
      <div class="row d-flex">
        <div id = "search_bar">
            <i class = "fa fa-search" id = "search_icon"></i>
            <input id = "search" type="text" placeholder="search" (keydown) = "onKeydown($event)">
        </div>
        <div class = "icon"><i class = "fa fa-angle-left"></i></div>
        <div class = "icon"><i class = "fa fa-angle-double-left"></i></div>
        <div class = "icon"><i class = "fa fa-angle-right"></i></div>
        <div class = "icon"><i class = "fa fa-close"></i></div>
      </div>
      <div *ngFor = "let c of components" (click) = "change()"> 
          <!-- <i id = "test" class = "fa fa-adjust"></i> -->
          <app-email [topic] = "usertopic" (mailRead) = "userRead()"></app-email>
      </div>
      
    </div>
  </div>
</div>
