<div id="component">
    <div id="header">
        <div class="row">
            <div class="col">
                <p>name</p>
            </div>
            <div class="col">
                <div id = "date">time</div>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <i id = "test" class = "fa fa-adjust"></i>
            <h5 (click) = "read()">{{ topic }}</h5>
        </div>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur perferendis officiis enim, suscipit vero odio ratione, animi asperiores eius itaque iste explicabo pariatur? Vitae, accusantium.</p>
</div>